@import "../../base/fn";

.weui_cell {
    // onepx
    position: relative;
    &:before {
        .setTopLine(@weuiCellBorderColor);
        left: @weuiCellGapH;
    }
    &:first-child {
        &:before {
            display: none;
        }
    }
}

.weui_cells {
    margin-bottom: @distance;
    background-color: @weuiCellBg;
    line-height: @weuiCellLineHeight;
    font-size: @weuiCellFontSize; //cell中间有效高度23px，跟客户端默认图标尺寸一�?

    overflow: hidden; //因为每个cell的border使用before元素left搞的，ie下伪元素的containing block估计跟标准不同，在cell上用oh不生�?

    // onepx
    position: relative;
    &:before {
        .setTopLine(@weuiCellBorderColor);
    }
    &:after {
        .setBottomLine(@weuiCellBorderColor);
    }
}

.weui_cells_title {
    margin-top: .77em; // 15px - 行高
    margin-bottom: .3em; // 8px - 行高
    padding-left: @weuiCellGapH;
    padding-right: @weuiCellGapH;
    color: @globalTextColor;
    font-size: @weuiCellTipsFontSize;

    & + .weui_cells {
        margin-top: 0;
    }
}

.weui_cells_tips {
    margin-top: .3em; // 8px - 行高
    color: @globalTextColor;
    padding-left: @weuiCellGapH;
    padding-right: @weuiCellGapH;
    font-size: @weuiCellTipsFontSize;
}

.weui_cell {
    padding: @weuiCellGapV @weuiCellGapH;
    position: relative; //这个是为了兼容cells容器onepx方案被before挡住而做�?
    display: flex;
    align-items: center;
    p{margin: 0;}
    .weui_cell_hd>img{height: 20px;width: 20px;margin-right: @px5;vertical-align:sub;}
    .placeholder{
        color:@color9;
    }
}

.weui_cell_ft {
    text-align: right;
    color: @color9;
}

.weui_cell_primary {
    flex: 1;
}
.weui_cell_ft.with_arrow:after {
    content: " ";
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 10px;
    width: 10px;
    border-width: 2px 2px 0 0;
    border-color: @color-gray;
    border-style: solid;
    position: relative;
    top: -1px;
    margin-left: @px10;
}